#pomodoro-icon {
    transition: transform 1s ease-in-out;
  }
  
  /* Add this style for the centered input */
  /* #pomodoro-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } */

  #pomodoro-time-input[type="number"] {
    width: 200px;
    height: 20px;
    margin-left: -50px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  #pomodoro-time-button[type="button"] {
    width: 40px;
    height: 25px;
    margin-top: 40px;
    margin-bottom: 10px;
  }  

body {
    height: 400px;
    width: 300px;
}

.header {
    display: flex;
    justify-content: center;
    height: 80px;
}

.time-display {
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.button-container > button{
    width: 90px;
}

.task-list { 
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px
}

.task-input{
    outline: none;
    margin: 5px;
    padding: 4px;
    width: 200px;
}

.task-delete{
    color: red;
    margin: 1px;
    /* padding: 5px; */
    /* width: 30px; */
}